bin
lib

vim/**
!vim/vimrc
!vim/colors/monokai.vim

xfce4/terminal/**
!xfce4/terminal/terminalrc

xfce4/xfconf/xfce-perchannel-xml/**
!xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml

venv/venv_bootstrap.py
