bin/**
!bin/emacs
!bin/emx
!bin/em
!bin/pip2
!bin/pip3
!bin/ipython2
!bin/ipython3
!bin/ipdb2
!bin/ipdb3
!bin/pdb.ipy
!bin/setup.py
!bin/cmake.py
!bin/cmkb

vim/**
!vim/vimrc
!vim/colors/monokai.vim

xfce4/terminal/**
!xfce4/terminal/terminalrc

xfce4/xfconf/xfce-perchannel-xml/**
!xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
!xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml

venv/venv_bootstrap.py
