# What need to be paid attention to is all the $, \, ` in single quote mark will not be processed specially,
# they will be treated as normal characters. This rule is common both in csh, bash, zsh. So we should prefer
# double quote mark in shell script if we can.
alias cdf="cd ${DOTFILES}"
alias venv="source ${DOTFILES}/bin/venv/venv.zsh $@"
